@font-face {
    font-family: "plugins"; /* Project id 4485457 */
    src: url('iconfont.woff2?t=1714010388048') format('woff2'),
    url('iconfont.woff?t=1714010388048') format('woff'),
    url('iconfont.ttf?t=1714010388048') format('truetype');
}

.plugins {
    font-family: "plugins" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
    content: "\e600";
}

.icon-bianji:before {
    content: "\e659";
}

.icon-qingkong:before {
    content: "\e622";
}

.icon-chazhao:before {
    content: "\e612";
}

.icon-shuaxin:before {
    content: "\e782";
}

.icon-xinzeng:before {
    content: "\e611";
}

.icon-dayin:before {
    content: "\e631";
}

.icon-shezhi:before {
    content: "\e851";
}

.icon-xiazai:before {
    content: "\e65d";
}

.icon-gengduogongneng:before {
    content: "\e7a6";
}

